<!DOCTYPE html>
<html lang="en">
<head>
<%include("/common/_head.html"){}%>
    <title>关于本网站 -随想</title>
<style>
    .nav-ul li{
        padding: 0 1.5rem;
    }
    .content {
        line-height: 26px;
        font-size: 16px;
    }
</style>
</head>
<body>
<%
var user = c.currentUser(request, servlet.response);
var isLogin = false;
if(user != null){
isLogin=true;
}
include("/common/_headwithlogin.html",{user:user,isLogin:isLogin}){}
%>
<div class="layui-container topToFix">
    <div class="layui-tab layui-tab-card c-panel" >
        <ul class="layui-tab-title">
            <li class="layui-this">关于此网站</li>
            <li>关于作者</li>
        </ul>
        <div class="layui-tab-content" style="min-height: 550px;">
            <div class="layui-tab-item layui-show">
               <div class="content">
                   <h5>项目名称：</h5><br />
                   <h6>随想笔记</h6><br />
                   <h5>开发平台：</h5><br />
                   <h6>Windows</h6><br />
                   <h5>开发工具：</h5><br />
                   <h6>Ideal+Tomcat9.0+MYSQL8.0</h6><br />
                   <h5>技术实现：</h5><br />
                   <h6>Spring+SpringBoot+MyBatis+JQuery+layui+AJAX</h6><br />
                   <h5>项目描述：</h5><br />
                   <h6>随想笔记是让用户表达随笔、记录笔记，查看新闻，与好友互动的集学习交友娱乐于一体的社交网络web项目，
                   系统专注于系统内容的整理、归类和检索，它集合了笔记分享，好友互动，内容推荐等多个功能，帮助用户在线笔记和轻松搭建专业的知识库。
                   项目业务模块包括：笔记管理，用户管理，图片管理，网址管理。</h6>
                   <hr>
                   人如果没有梦想，和咸鱼有什么区别。
               </div>
            </div>
            <div class="layui-tab-item content">
                <p>为毕业设计准备的作品 为了更好的自己</p>
            </div>
        </div>
    </div>
</div>
<%include("/common/_footor.html"){}%>
</body>
<%include("/common/_scripts.html",{user:user}){}%>
<script>
    layui.use(['layer', 'fly'], function () {
        var layer = layui.layer,fly = layui.fly
    });
</script>
</html>